.navbar a:hover{
    background-color:hsl(0, 0%, 39%);
}
#con{
    display: block;
    padding:10px;
}
#con1{
    flex-basis:100%;
    background-color:black;
    color:white;
    text-align:center;
    margin:0px;
    padding:0px;
}
img{
    float:left;
    border: 10px solid black;
    border-radius:4px;
    box-shadow: 5px 4px 4px oklab(80.78% 0 -0.00009);
    margin-top:10px;
    margin-bottom:10px;
    padding:20px;
}
div h1{
    margin-top:0px;
    padding:5px;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}
#link{
    text-align:center;
    color:white;
    text-decoration:underline;
    font-size:0.8em;
    margin-bottom:100px;
}
ul{
  margin-left:10px;
  padding-left: 20px;
}
li:hover{
    background-color:hsl(0, 0%, 85%);
    width:610px;
}
ol{
    margin-left:10px;
    text-align:left;
}
li{
    margin-left:10px;
    font-size:1.25em;
    font-family:'Times New Roman', Times, serif;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 57%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}
.navbar li{
    float: left;
    text-shadow:2px 2px 2px hsl(0, 0%, 43%) ;
}
body{
    background-color:rgb(243, 243, 243);
}
#con::selection{
    background-color:rgb(0, 0, 0);
    color:white;
}
pre{
    font-size:1.25em;
    font-family:'Times New Roman', Times, serif;
    white-space:pre-wrap;
}